In [1]:

#imports
import os
import sys
import pandas as pd
import numpy as np

In [2]:

sys.path.append('.')
sys.path.append('..')
sys.path.append('../scripts')

from clean_dataframe import Clean_DataFrame

In [3]:
# read the data
df = pd.read_excel('../data/Week1_challenge_data_source.xlsx')

## Data before cleaning

In [4]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,2019-04-04 12:01:18,770.0,2019-04-25 14:35:31,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,2019-04-09 13:04:04,235.0,2019-04-25 08:15:48,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,2019-04-09 17:42:11,1.0,2019-04-25 11:58:13,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,2019-04-10 00:31:25,486.0,2019-04-25 07:36:35,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,2019-04-12 20:10:23,565.0,2019-04-25 10:40:32,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [5]:
# cout of duplicates
df.duplicated().value_counts()

False    150001
dtype: int64

This shows us there are no duplicate rows in the dataset

In [6]:
cleaner = Clean_DataFrame(df.copy())
cleaner.df

initializing dataframe

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,2019-04-04 12:01:18,770.0,2019-04-25 14:35:31,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,36749741.0,308879636.0
1,1.311448e+19,2019-04-09 13:04:04,235.0,2019-04-25 08:15:48,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,53800391.0,653384965.0
2,1.311448e+19,2019-04-09 17:42:11,1.0,2019-04-25 11:58:13,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,27883638.0,279807335.0
3,1.311448e+19,2019-04-10 00:31:25,486.0,2019-04-25 07:36:35,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,43324218.0,846028530.0
4,1.311448e+19,2019-04-12 20:10:23,565.0,2019-04-25 10:40:32,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,38542814.0,569138589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7.277826e+18,2019-04-29 07:28:42,451.0,2019-04-30 06:02:33,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,57628851.0,574175259.0
149997,7.349883e+18,2019-04-29 07:28:42,483.0,2019-04-30 10:41:33,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,39135081.0,666648844.0
149998,1.311448e+19,2019-04-29 07:28:43,283.0,2019-04-30 10:46:12,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,34912224.0,592786405.0
149999,1.311448e+19,2019-04-29 07:28:43,696.0,2019-04-30 10:40:34,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,29626096.0,371895920.0
150000,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,NaN,NaN

## Handling Missing Values

In [7]:
# The % of missing values in the dataset
cleaner.precent_missing(df)

The telecom dataset contains 12.5 % missing values.

In [8]:
# Column(s) with missing values
df.isna().sum().sort_values(ascending=False)

Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with 125000B < Vol DL              97538
TCP UL Retrans. Vol (Bytes)                  96649
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 6250B < Vol DL < 31250B       88317
TCP DL Retrans. Vol (Bytes)                  88146
HTTP UL (Bytes)                              81810
HTTP DL (Bytes)                              81474
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Last Location Name                            1153
MSISDN/Number                                 1066
Bearer Id                                      991
Nb of sec with Vol UL < 1250B                  793
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
Nb of sec with Vol DL < 6250B                  755
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
Handset Type                                   572
IMEI                                           572
Handset Manufacturer                           572
IMSI                                           570
Total UL (Bytes)                                 1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
End ms                                           1
Start ms                                         1
Start                                            1
End                                              1
Total DL (Bytes)                                 1
Dur. (ms)                                        1
Activity Duration DL (ms)                        1
Avg Bearer TP UL (kbps)                          1
Avg Bearer TP DL (kbps)                          1
Netflix DL (Bytes)                               0
Other UL (Bytes)                                 0
Other DL (Bytes)                                 0
Gaming UL (Bytes)                                0
Gaming DL (Bytes)                                0
Netflix UL (Bytes)                               0
Youtube UL (Bytes)                               0
Youtube DL (Bytes)                               0
Email UL (Bytes)                                 0
Google UL (Bytes)                                0
Google DL (Bytes)                                0
Social Media UL (Bytes)                          0
Social Media DL (Bytes)                          0
Email DL (Bytes)                                 0
dtype: int64

In [9]:
# % of nulls in each column
missing_precentage =  cleaner.missing_precentage_of_each_col(df)
missing_precentage

Nb of sec with 37500B < Vol UL              86.84
Nb of sec with 6250B < Vol UL < 37500B      74.56
Nb of sec with 125000B < Vol DL             65.02
TCP UL Retrans. Vol (Bytes)                 64.43
Nb of sec with 31250B < Vol DL < 125000B    62.39
Nb of sec with 1250B < Vol UL < 6250B       61.93
Nb of sec with 6250B < Vol DL < 31250B      58.88
TCP DL Retrans. Vol (Bytes)                 58.76
HTTP UL (Bytes)                             54.54
HTTP DL (Bytes)                             54.32
Avg RTT DL (ms)                             18.55
Avg RTT UL (ms)                             18.54
Last Location Name                           0.77
MSISDN/Number                                0.71
Bearer Id                                    0.66
10 Kbps < UL TP < 50 Kbps (%)                0.53
Nb of sec with Vol UL < 1250B                0.53
UL TP > 300 Kbps (%)                         0.53
50 Kbps < UL TP < 300 Kbps (%)               0.53
UL TP < 10 Kbps (%)                          0.53
250 Kbps < DL TP < 1 Mbps (%)                0.50
50 Kbps < DL TP < 250 Kbps (%)               0.50
DL TP < 50 Kbps (%)                          0.50
Nb of sec with Vol DL < 6250B                0.50
DL TP > 1 Mbps (%)                           0.50
Handset Type                                 0.38
Handset Manufacturer                         0.38
IMEI                                         0.38
IMSI                                         0.38
Gaming UL (Bytes)                            0.00
Email UL (Bytes)                             0.00
Total UL (Bytes)                             0.00
Other UL (Bytes)                             0.00
Other DL (Bytes)                             0.00
Google UL (Bytes)                            0.00
Gaming DL (Bytes)                            0.00
Youtube DL (Bytes)                           0.00
Youtube UL (Bytes)                           0.00
Netflix DL (Bytes)                           0.00
Netflix UL (Bytes)                           0.00
Email DL (Bytes)                             0.00
Activity Duration UL (ms)                    0.00
Google DL (Bytes)                            0.00
Social Media UL (Bytes)                      0.00
Social Media DL (Bytes)                      0.00
Dur. (ms).1                                  0.00
Start                                        0.00
Activity Duration DL (ms)                    0.00
Avg Bearer TP UL (kbps)                      0.00
Avg Bearer TP DL (kbps)                      0.00
Dur. (ms)                                    0.00
End ms                                       0.00
End                                          0.00
Start ms                                     0.00
Total DL (Bytes)                             0.00
dtype: float64

Some of the Columns has alot of missing values. Therefore, next we will drop those with more than 50 % of missing values

In [11]:
# drop columns with more than 50% of missing values
#TODO: factor out this to clean_dataframe module

top_missing_cols = missing_precentage[:10]
indexes = top_missing_cols.keys() 
df_clean = df.drop(['Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with 125000B < Vol DL', 'TCP UL Retrans. Vol (Bytes)',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 6250B < Vol DL < 31250B', 'TCP DL Retrans. Vol (Bytes)',
       'HTTP UL (Bytes)', 'HTTP DL (Bytes)'], axis=1)
#the reduced colum
print('Now the reduced column number is', df_clean.shape[1], 'where the previous number of column is',df.shape[1])

Now the reduced column number is 45 where the previous number of column is 55

### Handling Categorical missing values

In [12]:
categorical_features = ['Last Location Name', 'Handset Manufacturer', 'Handset Type']
print('\n  missing count  \n')
for feature in categorical_features:
    print(f'{feature} - {df[feature].isnull().sum()}')

  missing count

Last Location Name - 1153
Handset Manufacturer - 572
Handset Type - 572

In [13]:
location_mode = df['Last Location Name'].mode()
manufacturer_mode = df['Handset Manufacturer'].mode()
handset_type_mode = df['Handset Type'].mode()
print(f'Last Location mode Value: {location_mode.values[0]}')
print(f'Handset Manufacturer mode value: {manufacturer_mode.values[0]}')
print(f'Handset type mode value: {handset_type_mode.values[0]}')

Last Location mode Value: D41377B
Handset Manufacturer mode value: Apple
Handset type mode value: Huawei B528S-23A

#### Filling all categorical feature with its mode

In [18]:
# fill all categorical feature with its mode
filling_vals = {'Last Location Name': location_mode.values[0], 'Handset Manufacturer': manufacturer_mode.values[0],'Handset Type': handset_type_mode.values[0]}
df.fillna(value=filling_vals, inplace=True)

### Handling Numerical missing values

> In order to fill the missing numerical feature values we need to check the skewness of the distribution
if it is skewed we will fill the missing with median / mode
if it is normally distributed we will fill the missing with mean / average values

In [19]:
#check the skewness
print(df.skew(axis=0))

Bearer Id                                     0.026666
Start ms                                      0.000968
End ms                                       -0.001163
Dur. (ms)                                     3.952609
IMSI                                         41.045956
MSISDN/Number                               332.155856
IMEI                                          1.071470
Avg RTT DL (ms)                              62.907828
Avg RTT UL (ms)                              28.457415
Avg Bearer TP DL (kbps)                       2.589437
Avg Bearer TP UL (kbps)                       4.503413
TCP DL Retrans. Vol (Bytes)                  15.951809
TCP UL Retrans. Vol (Bytes)                  84.113393
DL TP < 50 Kbps (%)                          -2.297803
50 Kbps < DL TP < 250 Kbps (%)                3.271453
250 Kbps < DL TP < 1 Mbps (%)                 4.566158
DL TP > 1 Mbps (%)                            5.370351
UL TP < 10 Kbps (%)                          -8.985016
10 Kbps < UL TP < 50 Kbps (%)                10.943888
50 Kbps < UL TP < 300 Kbps (%)               21.878495
UL TP > 300 Kbps (%)                         36.174053
HTTP DL (Bytes)                              38.944710
HTTP UL (Bytes)                              32.474970
Activity Duration DL (ms)                     5.872256
Activity Duration UL (ms)                     7.382557
Dur. (ms).1                                   3.952609
Nb of sec with 125000B < Vol DL               6.592502
Nb of sec with 1250B < Vol UL < 6250B        22.035745
Nb of sec with 31250B < Vol DL < 125000B      6.610541
Nb of sec with 37500B < Vol UL               21.560028
Nb of sec with 6250B < Vol DL < 31250B        6.896050
Nb of sec with 6250B < Vol UL < 37500B       19.642752
Nb of sec with Vol DL < 6250B                 9.042166
Nb of sec with Vol UL < 1250B                 7.495176
Social Media DL (Bytes)                      -0.002136
Social Media UL (Bytes)                      -0.000359
Google DL (Bytes)                            -0.008092
Google UL (Bytes)                             0.002216
Email DL (Bytes)                             -0.002463
Email UL (Bytes)                              0.007358
Youtube DL (Bytes)                            0.000231
Youtube UL (Bytes)                           -0.001142
Netflix DL (Bytes)                           -0.002442
Netflix UL (Bytes)                           -0.000113
Gaming DL (Bytes)                            -0.003460
Gaming UL (Bytes)                            -0.001840
Other DL (Bytes)                              0.001400
Other UL (Bytes)                              0.001392
Total UL (Bytes)                             -0.002456
Total DL (Bytes)                             -0.003153
dtype: float64

c:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

#### Fill missing value of highly skewed features

In [20]:
skew = df.skew(axis=0)
positively_skewed = skew[skew > 0.5 ].keys()
negatively_skewed = skew[skew < -0.5].keys()
normally_distributed = skew.between(-0.5, 0.5, inclusive='both')

print(f"Positively skewed features: \n {list(positively_skewed)} \n count: {len(positively_skewed)}\n \n")
print(f'Negatively skewed of features: \n {list(positively_skewed)} \n count:{len(negatively_skewed)}\n \n')
print(f'Normally distributed features: \n {list(normally_distributed[normally_distributed == True].keys())}\n count: {len(list(normally_distributed[normally_distributed == True].keys()))}')

Positively skewed features:
 ['Dur. (ms)', 'IMSI', 'MSISDN/Number', 'IMEI', 'Avg RTT DL (ms)', 'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)', 'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)', '50 Kbps < DL TP < 250 Kbps (%)', '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)', '10 Kbps < UL TP < 50 Kbps (%)', '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)', 'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)', 'Activity Duration UL (ms)', 'Dur. (ms).1', 'Nb of sec with 125000B < Vol DL', 'Nb of sec with 1250B < Vol UL < 6250B', 'Nb of sec with 31250B < Vol DL < 125000B', 'Nb of sec with 37500B < Vol UL', 'Nb of sec with 6250B < Vol DL < 31250B', 'Nb of sec with 6250B < Vol UL < 37500B', 'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B']
 count: 29


Negatively skewed of features:
 ['Dur. (ms)', 'IMSI', 'MSISDN/Number', 'IMEI', 'Avg RTT DL (ms)', 'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)', 'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)', '50 Kbps < DL TP < 250 Kbps (%)', '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)', '10 Kbps < UL TP < 50 Kbps (%)', '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)', 'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)', 'Activity Duration UL (ms)', 'Dur. (ms).1', 'Nb of sec with 125000B < Vol DL', 'Nb of sec with 1250B < Vol UL < 6250B', 'Nb of sec with 31250B < Vol DL < 125000B', 'Nb of sec with 37500B < Vol UL', 'Nb of sec with 6250B < Vol DL < 31250B', 'Nb of sec with 6250B < Vol UL < 37500B', 'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B']
 count:2


Normally distributed features:
 ['Bearer Id', 'Start ms', 'End ms', 'Social Media DL (Bytes)', 'Social Media UL (Bytes)', 'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)', 'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)', 'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)', 'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)', 'Total UL (Bytes)', 'Total DL (Bytes)']
 count: 19

c:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [21]:
df[list(negatively_skewed)].isna().sum()

DL TP < 50 Kbps (%)    754
UL TP < 10 Kbps (%)    792
dtype: int64

In [28]:
#fill negativily skewed data with median
df = cleaner.fill_by_median(df, list(negatively_skewed))

In [26]:
# see if there was an error filling with median
df[list(negatively_skewed)].isna().sum()

DL TP < 50 Kbps (%)    0
UL TP < 10 Kbps (%)    0
dtype: int64

In [27]:
df[list(positively_skewed)].isna().sum()

Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
dtype: int64

In [29]:
# fill positively skewed data with median
df = cleaner.fill_by_median(df, list(positively_skewed))

In [30]:
# see if there was an error filling with median
df[list(positively_skewed)].isna().sum()

Dur. (ms)                                   0
IMSI                                        0
MSISDN/Number                               0
IMEI                                        0
Avg RTT DL (ms)                             0
Avg RTT UL (ms)                             0
Avg Bearer TP DL (kbps)                     0
Avg Bearer TP UL (kbps)                     0
TCP DL Retrans. Vol (Bytes)                 0
TCP UL Retrans. Vol (Bytes)                 0
50 Kbps < DL TP < 250 Kbps (%)              0
250 Kbps < DL TP < 1 Mbps (%)               0
DL TP > 1 Mbps (%)                          0
10 Kbps < UL TP < 50 Kbps (%)               0
50 Kbps < UL TP < 300 Kbps (%)              0
UL TP > 300 Kbps (%)                        0
HTTP DL (Bytes)                             0
HTTP UL (Bytes)                             0
Activity Duration DL (ms)                   0
Activity Duration UL (ms)                   0
Dur. (ms).1                                 0
Nb of sec with 125000B < Vol DL             0
Nb of sec with 1250B < Vol UL < 6250B       0
Nb of sec with 31250B < Vol DL < 125000B    0
Nb of sec with 37500B < Vol UL              0
Nb of sec with 6250B < Vol DL < 31250B      0
Nb of sec with 6250B < Vol UL < 37500B      0
Nb of sec with Vol DL < 6250B               0
Nb of sec with Vol UL < 1250B               0
dtype: int64

In [31]:
#normally dist
df[list(normally_distributed[normally_distributed == True].keys())].isna().sum()

Bearer Id                  991
Start ms                     1
End ms                       1
Social Media DL (Bytes)      0
Social Media UL (Bytes)      0
Google DL (Bytes)            0
Google UL (Bytes)            0
Email DL (Bytes)             0
Email UL (Bytes)             0
Youtube DL (Bytes)           0
Youtube UL (Bytes)           0
Netflix DL (Bytes)           0
Netflix UL (Bytes)           0
Gaming DL (Bytes)            0
Gaming UL (Bytes)            0
Other DL (Bytes)             0
Other UL (Bytes)             0
Total UL (Bytes)             1
Total DL (Bytes)             1
dtype: int64

In [32]:
# fill normally distributed missing features with mean
df = cleaner.fill_by_mean(df, list(normally_distributed[normally_distributed == True].keys()))

In [38]:
# check percentage missing
cleaner.precent_missing(df)

The telecom dataset contains 0.03 % missing values.

Final clean up

In [41]:
df.drop(df.tail(1).index, inplace=True)

In [42]:
# check percentage missing
cleaner.precent_missing(df)

The telecom dataset contains 0.03 % missing values.

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 150001 non-null  float64
 1   Start                                     150000 non-null  datetime64[ns]
 2   Start ms                                  150001 non-null  float64
 3   End                                       150000 non-null  datetime64[ns]
 4   End ms                                    150001 non-null  float64
 5   Dur. (ms)                                 150001 non-null  float64
 6   IMSI                                      150001 non-null  float64
 7   MSISDN/Number                             150001 non-null  float64
 8   IMEI                                      150001 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           150001 non-null  float64
 11  Avg RTT UL (ms)                           150001 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150001 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150001 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               150001 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)               150001 non-null  float64
 16  DL TP < 50 Kbps (%)                       150001 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            150001 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             150001 non-null  float64
 19  DL TP > 1 Mbps (%)                        150001 non-null  float64
 20  UL TP < 10 Kbps (%)                       150001 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             150001 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            150001 non-null  float64
 23  UL TP > 300 Kbps (%)                      150001 non-null  float64
 24  HTTP DL (Bytes)                           150001 non-null  float64
 25  HTTP UL (Bytes)                           150001 non-null  float64
 26  Activity Duration DL (ms)                 150001 non-null  float64
 27  Activity Duration UL (ms)                 150001 non-null  float64
 28  Dur. (ms).1                               150001 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           150001 non-null  float64
 32  Nb of sec with 1250B < Vol UL < 6250B     150001 non-null  float64
 33  Nb of sec with 31250B < Vol DL < 125000B  150001 non-null  float64
 34  Nb of sec with 37500B < Vol UL            150001 non-null  float64
 35  Nb of sec with 6250B < Vol DL < 31250B    150001 non-null  float64
 36  Nb of sec with 6250B < Vol UL < 37500B    150001 non-null  float64
 37  Nb of sec with Vol DL < 6250B             150001 non-null  float64
 38  Nb of sec with Vol UL < 1250B             150001 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150001 non-null  float64
 54  Total DL (Bytes)                          150001 non-null  float64
dtypes: datetime64[ns](2), float64(50), object(3)
memory usage: 62.9+ MB

In [43]:
#save the clean data
df.to_csv('../data/week1_challenge_clean_data.csv', index=False)